.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.2);
    transition: visibility 300ms var(--cub), opacity 300ms var(--cub);
}


.modal {
    position: absolute;

    min-height: 581px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--white-color);
    border-radius: 4px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -40vh);
    width: 90%;
    height: 609px;
    padding: 20px;
    transition: transform 300ms var(--cub);

    @include mobile {
            width: 450px;
            height: 609px;
            padding: 40px;
        }
    
        @include desktop {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 528px;
            height: 581px;
        }

    

}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

}



.close-modal{
    position: absolute;
	top: 8px;
	right: 8px;
	border: none;
	padding: 6px;
    background-color: var(--white-color);


    &-btn {
        fill: black;
        width: 11px;
        height: 11px;
    }

}

.modal-title {
    display: block;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: calc(30 / 20);
    text-align: center;
    letter-spacing: 0.03em;

    @include desktop {
        line-height: calc(23 / 20);
    }

}

.modal-input {
    width: 100%;
    height: 40px;
    padding-left: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;

    transition: border-color 250ms var(--cub);

}

.icon-parent {
    position: relative;
    margin-bottom: 10px;
   
    & :hover,
    & :focus {
        border-color: var(--accent-color);
    }

}

.input-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);

    transition: fill 250ms var(--cub);

    .modal-input:focus + & {
    fill: var(--accent-color)
    }
}





.modal-label {
    display: block;

    font-size: 12px;
    line-height: 1.16;

    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 1);
    margin-bottom: 4px;

}

.modal-comment {
    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    transition: border-color 250ms var(--cub);

    padding: 12px 16px;

    margin-bottom: 20px;

    &:focus,
    &:hover {
    border-color: var(--accent-color);
    }

    &::placeholder {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);

    transition: color 250ms var(--cub);

}
    &:hover::placeholder {
        color: var(--accent-color);
    }

}


.btn-modalsubmit {
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 200px;

    margin-top: 30px;
    color: var(--white-color);
    background-color: var(--accent-color);

    border: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

}

.checkbox {
    position: relative;
    
    height: 17px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    @include mobile{
        width: 370px;
    }
    @include desktop{
        width: 425px;
    }

}

.modal-checkbox {
    margin: 0;
    width: 15px;
    height: 15px;
}



.modal-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(117, 117, 117, 1);
    margin-left: 7px;

}

.modal-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: rgba(33, 150, 243, 1);
}



.check-icon {
    position: absolute;
    top: 0;
    left: 0;
    fill: white;
    opacity: 0;
    padding-bottom: 2px;
    padding-right: 2px;

    .modal-checkbox:checked+.empty & {
            opacity: 1;
     }


}

.empty {
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 14px;
    border: 2px solid var(--secondary-text-color);
    border-radius: 2px;
    transition: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .modal-checkbox:checked + & {
    background-color: var(--accent-color);
    border: 2px solid var(--accent-color);
    }
}



