.client-container{
    padding-left: 0;
    padding-right: 0;
}
.client-main-box{
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
}

.client-box__item{
    width: 210px;
	height: 92px;

	@include tablet {
		flex-basis: 226px;
	}
	@include desktop {
		flex-basis: 170px;
	}
}

.client-title {
    font-weight: 700;
    font-weight: 700;
    font-size: 28px;
    line-height: calc(33/28);
    letter-spacing: 0.03em;
    text-transform: initial;
    text-align: center;

    color: var(--primary-text-color);
    margin-bottom: 50px;
    @include desktop{
        font-weight: 700;
        font-size: 36px;
        line-height: calc(42/36);

    }

}


.client-link {
    display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
    
    border: 1px solid;
    border-radius: 4px;
    border-color: rgba(175, 177, 184, 1);

    transition: border-color 250ms var(--cub);
       
        &:active {
        border-color: var(--accent-color);
        }
        @include desktop {

            &:hover,
            &:focus {
                border-color: var(--accent-color);
            }
}
}

.client-icon{
    
    fill: rgba(175, 177, 184, 1);
    background-size: contain;

    cursor: pointer;
    transition: fill 250ms var(--cub);

    .client-link:active &{
        fill: var(--accent-color);
    }
        @include desktop {
    
            .client-link:hover &,
            .client-link:focus & {
                fill: var(--accent-color);
             }  
        }
}
    
