
.main {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 118px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url(../images/hero-img-mob.jpg);  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: center;

    @include pixel-x2 {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url(../images/hero-img-mob2px.jpg); 
        background-repeat: no-repeat;        }
    
        @include mobile {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img-tablet.jpg);
    
            @include pixel-x2 {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img-tablet2px.jpg);
            }
        }
    
        @include tablet {
            min-width: 768;
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url(../images/hero-img-descktop.jpg); 
    
            @include pixel-x2 {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url(../images/hero-img-descktop2px.jpg); 
            }
        }
    
        @include desktop {
            max-width: 1600px;
            height: 600px;
            padding: 200px 0;
        }

}

.main__title {
    color: var(--white-color);

    max-width: 360px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        text-align: center;
        font-weight: 900;
        font-size: 26px;
        line-height: calc(42 / 26);
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        @include desktop {
                max-width: 696px;
                font-size: 44px;
                line-height: calc(60 / 44);
            }
}

.main__button {
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0px;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;

    display: block;
    margin: 0 auto;
    width: 216px;
    height: 50px;
    padding: 10px 24px;
}